<%= form_with model: @ice_cream, local: true do |form| %>
    
    <% if @ice_cream.errors.any? %>
        <div id="error_explanation">
            <h2>
                <% pluralize(@ice_cream.errors.count, 'error') %> prohibited
                    this article from being saved:
            </h2>

            <ul>            
                <% @ice_cream.errors.full_messages.each do |msg| %>

                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </p>
    <p>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </p>
    <p>
        <%= form.label :available %>
        <%= form.check_box :available %>
    </p>

    <p>
        <%= form.label :featured %>
        <%= form.check_box :featured %>
    </p>
    <p>
        <%= form.label :date_churned %>
        <%= form.datetime_field :date_churned %>
    </p>
    <p>
        <%= form.submit %>
    </p>

<% end %>